.main {
    padding-top: 32px;
    padding-bottom: 100px;
}

.chart-container {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
}

.section {
    margin-top: 40px;
}

.detail-table {
    margin-top: 20px;
}

.summary-chart-button-group {
    text-align: center;
    margin-top: 20px;
}

#alert {
    display: none;
}